@import './styles/reset.scss';
// @import './styles/game.scss';

body {
    background-color: black;
}

.title{
    display: flex;
    justify-content: center;
}

#button-instructions{
    background-color: black;
    color: white;
    padding: 1px;
    border-radius: 100px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-indent: 5px;
    position: relative;
    top: -560px;
    left: 1110px;
}

#div-button{
    display: flex;
    margin-top: 110px;
    flex-direction: column;
}

#button2{
    color: red;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 190px;
    height: 100px;
    margin-left: calc(50% - 95px);
    padding: 5px;
    border-radius: 10px;
}

#button1{
    color: red;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 95px;
    height: 100px;
    margin-left: calc(50% - 47px);
    padding: 5px;
    border-radius: 10px;
}

#button3{
    color: red;
    font-size: 35px;
    margin-top: 15px;
    height: 40px;
    background-color: rgb(54, 45, 45);
    font-family: 'Montserrat', sans-serif;
    margin-left: 148px;
    padding: 5px;
    border-radius: 10px;
}

ul{
    margin-top: 40px;
    list-style: circle;
}

li{
    color: black;
    font-size: 30;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: 2px;
}

#p {
    border: 1px solid white;
    display: flex;
    margin-top: 15px;
    margin-right: 30px;
    width: 270px;
    justify-content: center;
    align-items: center;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#info{
    margin-top: 150px;
    font-size: 18px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    width: 230px;
    padding: 5px;
    margin-left: calc(50% - 115px);
}

#img{
    width: 30px;
    height: 30px;
}

#linkedin, #github{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 80px;
}

#linkedin{
    margin-right: 10px;
}

#instruction-list{
    background-color: bisque;
    position: absolute;
    top: 205px;
    height: 230px;
    width: 380px;
    padding: 10px;
    margin-left: calc(50% - 190px);
    border-radius: 20px;
}

#div-canvas{
    margin-left: calc(50% - 558px);
}

#mister-game{
    margin-top: 5px;
}

#div-cover{
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 600px;
    position: absolute;
    top: 64px;
}

#won{
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 295px;
    padding: 3px;
    position: absolute;
    left: calc(50% - 147px);
    top: 170px;
}

#won2{
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 565px;
    padding: 3px;
    position: absolute;
    left: calc(50% - 282px);
    top: 250px;
}

#lose{
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: absolute;
    width: 430px;
    padding: 3px;
    margin-left: calc(50% - 215px);
    top: 170px;
}

#lose2{
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: absolute;
    width: 555px;
    padding: 3px;
    margin-left: calc(50% - 277px);
    top: 250px;
}

#button-restart-game{
    color: red;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #5b4444;
    position: absolute;
    margin-left: calc(50% - 42px);
    padding: 5px;
    border-radius: 10px;
    top: 320px;
}

#button-restart{
    color: red;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #5b4444;
    position: absolute;
    margin-left: calc(50% - 55px);
    padding: 5px;
    border-radius: 10px;
    top: 320px;
}

#footer1, #footer{
    display: flex;
    justify-content: space-evenly;
    width: 1116px;
    margin-left: calc(50% - 558px);
}

#p-footer{
    margin-top: 5px;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
